/* =============================================================== */
/* Import
/* =============================================================== */
@import url("fonts/fontstyle.css");
@import url("css/reset.css");
/* =============================================================== */
/* GENERAL CSS 
/* =============================================================== */


html, html a {
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}
html {
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: #f3f5f6;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	margin: 0px;
	padding: 0;
	background: #f2f2f2;
	 font-family: 'levenim_mtregular';
	font-size: 13px;
	color: #000000;
}
.clr {
	clear: both;
}

/* =============================================================== */
/* Heading
/* =============================================================== */



h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0;
	text-rendering: auto;
	/*	white-space: nowrap;*/	padding: 0px;
}
h1 {
	margin:0 auto;
	text-align:center;
	font-family:Arial;
	font-size:20px;
	width:85%;
	border-bottom:1px solid #7690c3;
}
h2 { margin-top:12px; padding:0px;font-family: 'levenim_mtregular'; font-weight:bold;}

h3 {border-bottom:2px solid #959595; font-size:14px; color:#231139;}

small{ color:#8e8e8e; margin:0px; padding-top:20px; display:block; text-transform:uppercase;}

big{ color:#000000; font-weight:bold;}


/* =============================================================== */
/* certificate SECTION  
/* =============================================================== */
#certificate_main{
	margin:20px auto;
	background: url(images/certificate.jpg) no-repeat top center;
	padding:70px;
	clear: both;
	width:730px;
	height:651px;
}
#certificate_main .logo{ margin:0px; padding:0px; display:block; text-align:center;}
#certificate_main p {width:300px; margin:0px auto; font-size:14px; text-align:center;}
#certificate_main .text_area{margin: 20px auto 0; padding:0px; text-align: center;}
#certificate_main .text_area p {display: block; margin: 16px auto 0px; padding: 0; text-align: center; width: 93%;}
#certificate_main .dir_logo{ margin-top:9px; padding:0px; float:left;}
#certificate_main .date{ margin-top:41px; padding:0px; width:130px; float:left; text-align:center; margin-left:20px;}


